#inner{  
  width:100%;
  font-size: 170%;
}

#outer {
  width:96%;
  display: flex;
  justify-content: center;
}

.outer_obj {
  width:100%;
  display: flex;
  justify-content: center;
}

h3, p {
  text-align: justify;
}

h3, p, .link {
  font-size: 170%;
}

h2 {
  font-size: 180%;
}

.bigger_font {
  font-size: 180%;
  font-weight: bold;
}

span {
  font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
	#inner {  
	  width:650px;
      font-size: 100%;
	}

	#outer {
	  width:99%;
	  display: flex;
	  justify-content: center;
	}

	.outer_obj {
	  width:100%;
	  display: flex;
	  justify-content: center;
	}

	h3, p {
	  text-align: justify;
	}

	h3, p, .link {
	  font-size: 120%;
	}

	.bigger_font {
	  font-size: 140%;
	  font-weight: bold;
	}

	span {
	  font-weight: bold;
	}
}