#inner {  
  width:97%;
}

#outer {
  width:98%;
}

.outer_obj {
  width:96%;
}

p, .link {
  font-size: 140%;
}

.bigger_font {
  font-size: 160%;
  font-weight: bold;
}

span {
  font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
	#inner {  
	  width:650px;
	}

	#outer {
	  width:99%;
	  display: flex;
	  justify-content: center;
	}

	.outer_obj {
	  width:100%;
	  display: flex;
	  justify-content: center;
	}

	p, .link {
	  font-size: 120%;
	}

	.bigger_font {
	  font-size: 140%;
	  font-weight: bold;
	}

	span {
	  font-weight: bold;
	}
}